In [5]:
import pandas as pd
df = pd.DataFrame({'comment':[1],'taste':[2],'service':[3]})
print(df)
df.append({'comment':4,'taste':5,'service':6},ignore_index=True,)
print(df)
df.append({'comment':7,'taste':8,'service':9},ignore_index=True,)
print(df)

   comment  taste  service
0        1      2        3
   comment  taste  service
0        1      2        3
   comment  taste  service
0        1      2        3

In [12]:
import pandas as pd
l = [1,]
df = pd.DataFrame({'test':[l[0]]})
print(df)
l = [1,3]
append_s = pd.Series([l[1]],index=['test'],name= 1)
df.append(append_s)

   test
0     1

   test
0     1
1     3

In [6]:
import pandas as pd
com = ['美味しかった', '楽しかった', 'つまらなかった', 'また来たい']
tas = [1, 3, 5, 8]
ser = [5, 3, 2, 6]
n = 1
l = 0
for c,t,s in zip(com,tas,ser)
    df = pd.DataFrame({'comment':[c[l]], 'taste':[t[l]], 'service':[s[l]]}, index=[n])
    n += 1
    l += 1
print(df)

SyntaxError: invalid syntax (<ipython-input-6-8541cc2a7ef9>, line 7)